body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  background-color: rgb(83, 85, 91);
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.main {
  width: 30%;
  margin: 4rem auto;
  border: 1px solid black;
  text-align: center;
}

.password input {
  background-color: aliceblue;
  padding: 0.7rem;
  border: none;
}

.copy-btn {
  background-color: cadetblue;
  padding: 0.7rem;
  border: none;
  cursor: pointer;
}

.range {
  padding: 1rem;
}

.range label {
  color: rgb(255, 115, 0);
  font-size: 1.2rem;
  padding: 0.5rem;
}

.checkbox label {
  color: rgb(255, 115, 0);
  font-size: 1.2rem;
  padding: 0.5rem;
}
